*pro.user
.qtcreator/

**/.vs/
.vscode/
build/
config.tests/*/.qmake.stash
config.tests/*/Makefile

third-party/**
!third-party/

# Submodules
!third-party/AMF/
!third-party/DirectX-Headers/
!third-party/FidelityFX-FSR/
!third-party/NVIDIAImageScaling/
!third-party/libvpl/

# Bundled SDKs
!third-party/DirectXShaderCompiler/
!third-party/DirectXShaderCompiler/**
!third-party/RTX_Video_SDK/
!third-party/RTX_Video_SDK/**
!third-party/IntelVPL/
!third-party/IntelVPL/**/
!third-party/IntelVPL/*/lib/**
!third-party/IntelVPL/*/include/**
!third-party/stb_image/
!third-party/stb_image/**
