[submodule "moonlight-common-c/moonlight-common-c"]
	path = moonlight-common-c/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "opus/opus"]
	path = opus/opus
	url = https://github.com/xiph/opus.git
