<?xml version="1.0" encoding="UTF-8"?>

<?if $(env.APPVEYOR) = True ?>
<?define ShortName = "Moonlight (Nightly)" ?>
<?define FullName = "Moonlight Game Streaming Client (Nightly)" ?>
<?define InstallFolder = "Moonlight Game Streaming (Nightly)" ?>
<?define RegKeyName = "Moonlight Game Streaming Project (Nightly)" ?>
<?define UpgradeCode = "1b3bbb1b-3ee3-4000-adf2-6358eab315f6" ?>
<?else?>
<?define ShortName = "Moonlight" ?>
<?define FullName = "Moonlight Game Streaming Client" ?>
<?define InstallFolder = "Moonlight Game Streaming" ?>
<?define RegKeyName = "Moonlight Game Streaming Project" ?>
<?define UpgradeCode = "5c09f94e-f809-4c6a-9b7b-597c99f041fe" ?>
<?endif ?>

<?define ShortcutName = "$(var.ShortName)" ?>
<?define ShortcutDesc = "Stream games from your NVIDIA GameStream-enabled PC" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
           Name="$(var.FullName)"
           Language="1033"
           Version="!(bind.fileVersion.MoonlightExe)"
           Manufacturer="Moonlight Game Streaming Project"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallInitialize" />
    <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

    <?if $(var.Platform) = x64 ?>
      <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?else ?>
      <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?endif ?>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" />
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="$(var.InstallFolder)" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.InstallFolder)" />
      </Directory>
    </Directory>

    <Property Id="APPDATAFOLDER">%LOCALAPPDATA%\Moonlight Game Streaming Project</Property>

    <!-- There's no way to delete a registry key on uninstall but not major upgrade, so
        we have to roll our own deletion via custom action -->
    <CustomAction Id="DeleteRegistryKey"
                  Directory="$(var.PlatformProgramFilesFolder)"
                  ExeCommand="reg.exe delete &quot;HKCU\Software\Moonlight Game Streaming Project&quot; /f"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="yes"/>
    <InstallExecuteSequence>
      <Custom Action="DeleteRegistryKey" Before="InstallFinalize">Installed AND REMOVE~="ALL" AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>

    <Component Id="MoonlightShortcuts" Guid="*" Directory="INSTALLFOLDER">
      <Shortcut Id="StartMenuShortcut" 
                Name="$(var.ShortcutName)"
                Description="$(var.ShortcutDesc)"
                Target="[#MoonlightExe]"
                Directory="ApplicationProgramsFolder"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="CleanupStartMenuShortcut" Directory="ApplicationProgramsFolder" On="uninstall" />
      <util:RemoveFolderEx Id="CleanupAppDataFolder" On="uninstall" Property="APPDATAFOLDER" />
      <RegistryValue Root="HKCU" Key="Software\$(var.RegKeyName)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="MoonlightDesktopShortcut" Guid="*" Directory="INSTALLFOLDER">
      <Shortcut Id="DesktopShortcut"
                Name="$(var.ShortcutName)"
                Description="$(var.ShortcutDesc)"
                Target="[#MoonlightExe]"
                Directory="DesktopFolder"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="CleanupDesktopShortcut" Directory="DesktopFolder" On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="Software\$(var.RegKeyName)"
                     Name="DesktopShortcutInstalled"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
      <Condition>ADDDESKTOPSHORTCUT=1</Condition>
    </Component>

    <!-- Persist desktop shortcut's installed state to let Bundle.wxs know if
         the desktop shortcut should installed by default when upgrading the
         product -->
    <Component Id="MoonlightDesktopShortcutState" Guid="*" Directory="INSTALLFOLDER">
      <RegistryValue Root="HKCU"
                     Key="Software\$(var.RegKeyName)"
                     Name="DesktopShortcutInstallState"
                     Type="integer"
                     Value="[ADDDESKTOPSHORTCUT]"
                     KeyPath="yes" />
    </Component>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Moonlight" Guid="*">
        <File Id="MoonlightExe" KeyPath="yes" Checksum="yes" Source="$(var.SourceDir)\Moonlight.exe">
          <fire:FirewallException Id="MoonlightFirewallException"
                                  Scope="any"
                                  Name="$(var.FullName)" />
        </File>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="Moonlight" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentRef Id="Moonlight" />
      <ComponentRef Id="MoonlightShortcuts" />
      <ComponentRef Id="MoonlightDesktopShortcutState" />
      <ComponentRef Id="MoonlightDesktopShortcut" />
      <ComponentGroupRef Id="MoonlightDependencies" />
    </Feature>
  </Product>
</Wix>
