<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Moonlight Game Streaming"
           Language="1033"
           Version="!(bind.fileVersion.MoonlightExe)"
           Manufacturer="Moonlight Game Streaming Team"
           UpgradeCode="5c09f94e-f809-4c6a-9b7b-597c99f041fe">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="Moonlight" Level="1">
      <ComponentGroupRef Id="Moonlight" />
      <ComponentGroupRef Id="MoonlightDependencies" />
    </Feature>
  </Product>

  <?if $(var.Platform) = x64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="Moonlight" />
      </Directory>
    </Directory>
  </Fragment>

  <!-- TODO: Delete registry values on full uninstall -->
  <!-- TODO: Create shortcut to Moonlight -->
  <!-- TODO: Exempt ourselves from Windows Firewall -->

  <Fragment>
    <ComponentGroup Id="Moonlight" Directory="INSTALLFOLDER">
      <Component Id="CMP_MoonlightExe" Guid="*">
        <File Id="MoonlightExe" KeyPath="yes" Checksum="yes" Source="$(var.SourceDir)\Moonlight.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
