[Desktop Entry]
Name=PlayBase
Comment=Stream games and other applications from another PC running Sunshine or GeForce Experience
Exec=playbase
Icon=playbase
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=nvidia;gamestream;stream;sunshine;remote play;
